/* Blink background */

.blink-bg {
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 1s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #0192FF;
    }

    25% {
        background-color: #00FFF9;
    }

    50% {
        background-color: #6AFF05;
    }

    75% {
        background-color: #FFF000;
    }

    85% {
        background-color: #FFAA05;
    }

    100% {
        background-color: #FF0000;
    }
}